$container-lg-width: 1235px;
$container-md-width: 920px;
$main-font: 'Roboto' , sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;


$light-font-weight: 300;
$normal-font-weight: 400;
$medium-font-weight: 500;
$medium2-font-weight: 600;
$semibold-font-weight: 700;


$padding-about-block: 170px 0;

$font-xxl: 48px;
$font-xl: 36px;
$font-lg: 24px;
$font-middle: 18px;
$font-md: 15px;
$font-sm: 12px;
$font-xs: 10px;

$header-height:83px;

$accent-color: #8D96BD;
$secondary-accent-color: #5E81FE;
$another-secondary-color:#5E80FF;
$plan__accent-color: #3D4F9F;
$plan__background-color:#F5F8FF;
$plan__button-bg-color: #4C85FF;
$open-sans-color: #4074F8;
$grey-color: #ADB3CB;
$second-grey-color: #ADB4D2;
$first-btn-bg: #FFD7D7;
$second-btn-bg:#D2E1FF;
$plan-btn-color: #D1D1E4;
$first-btn-color: #D43F3F;
$second-btn-color: #3A79FF;
$gradient-color: #6888FF;
$light-gradient: #E9EFFF;
$white-color: #FFFFFF;

$media-header: 1024px;

$media-banner: 620px;

$media-clients: 905px;
$media-clients2: 876px;
$media-clients3: 804px;
$media-clients4: 724px;

$media-plan: 1280px;
$media-plan1: 1140px;
$media-plan2: 1000px;
$media-plan4: 765px;
$media-plan6: 329px;


$media-about: 667px;
$media-about1:415px;

$media-users: 1235px;
$media-users1: 1200px;
$media-users2: 1160px;
$media-users3: 1125px;
$media-users4: 1080px;
$media-users5: 567px;

$media-blog: 1020px;
$media-blog:429px;

$media-newsletter: 842px;





